body {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
}

.header,
.one,
.footer {
    background-color: #1f2937;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.one {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
}

.left,
img {
    width: 400px;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.left button {
    background-color: #3882f6;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.two {
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.three {
    background-color: #E5E7EB;
    padding: 80px;
}

.quote {
    width: 700px;
    margin: auto;
}

.author {
    text-align: right;
}

.message {
    display: flex;
    margin: 20px auto;
    background-color: #3882f6;
    width: 700px;
}